@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* COLORS */

$primary-pale: #e0e8ff;
$primary-bright: #3829e0;
$primary-bright-pale: #766CF1;

$neutral-very-pale: 	#f5f7ff;
$neutral-desaturated: 	#7280a7;
$neutral-dark: #1F2E55;

/* SCREEN SIZES */

$mobile: 375px;
$desktop: 1440px;